Source: actionai
Section: misc
Priority: optional
Maintainer: Smells Like ML <contact@smellslikeml.com>
Build-Depends: debhelper-compat (= 12), python3-all, python3-setuptools, dh-python, dh-exec
Standards-Version: 4.5.0

Package: actionai
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-pip
Description: ActionAI - video classifier toolkit
